<!--Template for testing social authentication adapted from Muhd Rahiman, 2/27/2021
    https://dev.to/mdrhmn/django-google-authentication-using-django-allauth-18f8-->
{% extends "base.html" %}

{% block content %}

<center>

<div class="mt-lg-4">

<div class="container">
    	<h3 class="text-center">Add a Class</h6>
    	<h6 class="text-center">For time, please use the following format: HH:MM </h6>
</div>

<div class="mt-lg-4">

<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save Class">
</form>
</center>
{% endblock %}

