<!--Template for testing social authentication adapted from Muhd Rahiman, 2/27/2021
    https://dev.to/mdrhmn/django-google-authentication-using-django-allauth-18f8-->
{% extends "base.html" %}
{% load socialaccount %}

<html>

<head>
    <title>Google Registration</title>
</head>


<body>
    {% block content %}

    {% if user.is_authenticated %}
    <h2 class="text-center text-white">Welcome, {{ user.username }}!</h2>
    <div class="col d-flex justify-content-center">
        <div class="card text-center border-dark w-50">
            <div class="card-body">
                <p class="card-text"> HoosNotes </p>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-lg">
                <div class = 'card border-dark'>
                    <h4 class = 'text-center'> Description </h4>
                </div>
            </div>
            <div class="col-lg offset-sm-1">
                <h4 class ="text-center"> HOOS TOO-DOOS List </h4>
                <h6 class="text-center">Here's your to-do list:</h6>


                <form class="text-center" action="/addTodoItem/" method = "post">{% csrf_token %}
                    <input type="text" name="content">
                    <input type="submit" value="+">
                </form> 

                <div class="col d-flex justify-content-center">
                <ul class="list-group w-25">
                {% for i in all_items %} 
                
                            <li class="list-group-item" style="float:left;">
                                <table>
                                    <tr>
                                        <form action="/deleteTodoItem/{{i.id}}/" method = "post">{% csrf_token %}
                                        <input class= "btn btn-outline-danger btn-sm" type="submit" value="X">
                                        </form> &emsp;           
                                        {{i.content}}
                                    </tr>
                                </table>
                            </li>
                    
                {% endfor %}
                </ul>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="col d-flex justify-content-center">
        <div class="card text-center border-dark w-50">
            <div class="card-body">
                <p class="card-text"> About Us </p>
                <div class="container">
                <div class="row">
                    <div class="col">
                    1 of 5
                    </div>
                    <div class="col">
                    2 of 5
                    </div>
                    <div class="col">
                    3 of 5
                    </div>
                    <div class="col">
                    4 of 5
                    </div>
                    <div class="col">
                    5 of 5
                    </div>
                </div>
                </div>                
            </div>
        </div>
    </div>
    
    {% else %}



    <!--<a href="{% provider_login_url 'google' %}">Login with Google</a>-->
    <!--<div class="row d-flex justify-content-center align-items-center h-100">
        <div class="card text-center border-dark w-50 h-10">
            <div class="card-body">
                <a href="{% provider_login_url 'google' %}" class="btn btn-primary">Login with Google</a>
            </div>
        </div>
    </div>
    <div class="container h-100 d-flex justify-content-center">
    <div class=" my-auto">
        <div class="card text-center border-dark">
            <div class="card-body">
                <a href="{% provider_login_url 'google' %}" class="btn btn-primary">Login with Google</a>
            </div>
        </div>
    </div>-->
    
    <div class="d-flex justify-content-center h-75 align-items-center">
        <div class="jumbotron my-auto">
        <div class="card shadow" style="border-radius: 1rem;">
          <div class="card-body text-center">

            <h3 class="mb-4">Welcome to HoosNotes!</h3>

            <h5>To create an account or sign in with an existing one, please click: </h5>
            <a class="btn btn-lg btn-block btn-outline-danger" href="{% provider_login_url 'google' %}" type="submit">Log in with Google</a>


          </div>
        </div>
        </div>
    </div>

    {% endif %}
    {% endblock %}

</body>

</html>

