<!--Template for testing social authentication adapted from Muhd Rahiman, 2/27/2021
    https://dev.to/mdrhmn/django-google-authentication-using-django-allauth-18f8-->
{% extends "base.html" %}
{% load socialaccount %}

<html>

<head>
    <title>Google Registration</title>
</head>


<body>
    {% block content %}

    {% if user.is_authenticated %}
    <h2 class="text-center">Welcome, {{ user.username }}!</h2>
    <h6 class="text-center">Here's your to-do list:</h6>


    <form class="text-center" action="/addTodoItem/" method = "post">{% csrf_token %}
        <input type="text" name="content">
        <input type="submit" value="+">
    </form> 

    <div class="col d-flex justify-content-center">
    <ul class="list-group w-25">
    {% for i in all_items %} 
    
                <li class="list-group-item" style="float:left;">
                    <table>
                        <tr>
                            <form action="/deleteTodoItem/{{i.id}}/" method = "post">{% csrf_token %}
                            <input class= "btn btn-outline-danger btn-sm" type="submit" value="X">
                            </form> &nbsp;&nbsp;           
                            {{i.content}}
                        </tr>
                    </table>
                </li>
        
    {% endfor %}
    </ul>
    </div>

    {% else %}



    <a href="{% provider_login_url 'google' %}">Login with Google</a>
    <!--<div class="row d-flex justify-content-center align-items-center h-100">
        <div class="card text-center border-dark w-50 h-10">
            <div class="card-body">
                <a href="{% provider_login_url 'google' %}" class="btn btn-primary">Login with Google</a>
            </div>
        </div>
    </div>
    <div class="container h-100 d-flex justify-content-center">
    <div class=" my-auto">
        <div class="card text-center border-dark">
            <div class="card-body">
                <a href="{% provider_login_url 'google' %}" class="btn btn-primary">Login with Google</a>
            </div>
        </div>
    </div>-->


    {% endif %}
    {% endblock %}

</body>

</html>

