<!--Template for testing social authentication adapted from Muhd Rahiman, 2/27/2021
    https://dev.to/mdrhmn/django-google-authentication-using-django-allauth-18f8-->
{% extends "base.html" %}

{% block content %}

<p style="border:5px; border-style:solid; border-color:#007FFF; padding: 1em;">
  Pick a class to join.<br>If you do not see your class, please add it using the "Add Class" functionality under "My Classes."
</p>


{% if join_list_of_classes %}
    {% for class in join_list_of_classes %}
        <li class="list-group-item"><a class="link-primary" href="{% url 'join_class_detail' class.id %}"> Class: {{class.class_name}}</a>&nbsp;&nbsp;&nbsp; Instructor: {{class.instructor}} &nbsp;&nbsp;&nbsp; Start: {{class.start_time}} &nbsp;&nbsp;&nbsp; End: {{class.end_time}} &nbsp;&nbsp;&nbsp; Location: {{class.location}} &nbsp;&nbsp;&nbsp; Days: {{class.days_of_the_week}} </li>
    {% endfor %}
{% else %}  
    <p>No Classes are available.</p>  
{% endif %}
{% endblock %}