<!--Template for testing social authentication adapted from Muhd Rahiman, 2/27/2021
    https://dev.to/mdrhmn/django-google-authentication-using-django-allauth-18f8-->
{% extends "base.html" %}

{% block content %}

<div class="container">
    	<h3 class="text-center">Pick a Class to Join</h6>
</div>

{% if join_list_of_classes %}
    <ul class="list-group text-center">
    {% for class in join_list_of_classes %}
        <li class="list-group-item"><a class="link-primary" href="{% url 'join_class_detail' class.id %}"> Class: {{class.class_name}}</a>&nbsp;&nbsp;&nbsp; Instructor: {{class.instructor}} &nbsp;&nbsp;&nbsp; Start: {{class.start_time}} &nbsp;&nbsp;&nbsp; End: {{class.end_time}} &nbsp;&nbsp;&nbsp; Location: {{class.location}} &nbsp;&nbsp;&nbsp; Days: {{class.days_of_the_week}} </li>
    {% endfor %}
    </ul>
{% else %}  
    <p>No Classes are available.</p>  
{% endif %}
{% endblock %}