<!--Template for testing social authentication adapted from Muhd Rahiman, 2/27/2021
    https://dev.to/mdrhmn/django-google-authentication-using-django-allauth-18f8-->
{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row">

<h3 class="text-left"><br> Pick a Class to Join</h3>
	<div class="col-sm-4" style="background-color: #00000">
		<p style="border:10px; padding: 0em;">
		<li class="list-group-item" style="border:5px; height: 300; font-size: 100%; border-style:solid; border-color: #00000; padding: 2em;">
		
		<h4> 
		
			<br>
			Don't see your class? 			
			<br>
			<a class="link-dark" href="{% url 'create_student_class'%}">
			Add a Class +
			<br>
			<br>
			<br>

		</a> 
		</h4> 
		</li>
       	</p>
       	</div>

{% if join_list_of_classes %}
    
    {% for class in join_list_of_classes %}
		<div class="col-sm-4" style="background-color: #00000">
		<p style="border:10px; padding: 0em;">
		<li class="list-group-item" style="border:5px; height: 300; text-size-adjust: auto; border-style:solid; border-color: #007FFF; padding: 2em;">
		
		<h4> 
		<a class="link-primary" href="{% url 'join_class_detail' class.id %}"> 
			{{class.class_name}}
		</a> 
		</h4> 

		<p class="text-dark"> 
			Instructor: {{class.instructor}} <br> Time: {{class.start_time}} - {{class.end_time}} <br> Location: {{class.location}} <br> 
       	</p>
       </li>
       </p>
       </div>
       
    {% endfor %}
  
{% else %}  
    <p>No Classes are available.</p>  
{% endif %}
</div>
</div>
{% endblock %}