{% extends "base.html" %}

{% block content %}
{% if list_of_classes %}
    <ul class="list-group text-center">
    {% for class in list_of_classes %}
        <li class="list-group-item"><a href="{% url 'class_detail' class.id %}"> Class: {{class.class_name}}</a>&nbsp;&nbsp;&nbsp; Instructor: {{class.instructor}} &nbsp;&nbsp;&nbsp; Start: {{class.start_time}} &nbsp;&nbsp;&nbsp; End: {{class.end_time}} &nbsp;&nbsp;&nbsp; Location: {{class.location}} &nbsp;&nbsp;&nbsp; Days: {{class.days_of_the_week}} </li>
    {% endfor %}
    </ul>
{% else %}  
    <p>No Classes are available.</p>  
{% endif %}
{% endblock %}