{% extends "base.html" %}

{% block content %}
{% if list_of_classes %}



<div class="container">
  <div class="row">
<h3 class="text-left" style = "color: white;" > <br> Your Classes</h3>

 		<div class="col-sm-4">
		<p style="border:10px; padding: 0em;">
		<li class="list-group-item" style="border:5px; height: 300; border-style:solid; border-color: white; padding: 2em;">
		
		<h4> 
		
			<br>
			<br>
			<a class="link-dark" href="{% url 'create_student_class'%}">
			Add a Class +
			<br>
			<br>
			<br>

		</a> 
		</h4> 
		</li>
       	</p>
       	</div>

       	<div class="col-sm-4">
		<p style="border:10px; padding: 0em;">
		<li class="list-group-item" style="border:5px; height: 300; border-style:solid; border-color: white; padding: 2em;">
		
		<h4> 
		
			<br>
			<br>
			<a class="link-dark" href="{% url 'join_student_classes'%}">
			Join a Class +
			<br>
			<br>
			<br>

		</a> 
		</h4> 
		</li>
       	</p>
       	</div>

    {% for class in list_of_classes %}
        <div class="col-sm-4">
		<p style="border:10px; padding: 0em;">
		<li class="list-group-item" style="border:5px; height: 300; border-style:solid; border-color: white; padding: 2em;">
		
		<h4> 
		<a class="link-primary" href="{% url 'class_detail' class.id %}"> 
			{{class.class_name}}
		</a> 
		</h4> 

		<p class="text-dark"> 
			Instructor: {{class.instructor}} <br> Time: {{class.start_time}} - {{class.end_time}} <br> Location: {{class.location}} <br> 
            <br>
			<br>
			<form class = "text-center" action="{% url 'delete_student_class' class.id%}" method = "post">{% csrf_token %}
                <button type="submit" class="btn btn-danger btn-md btn-block">Leave Class</button>
            </form>
       	</p>
       </li>
       </p>
       </div>
    {% endfor %}
  </div>
</div>
{% else %}  
	<br>
	<h2 class="text-center text-white">You are not currently enrolled in any classes.</h2>
{% endif %}
{% endblock %}